<?php
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/left-menu.php");?>
  <div class="content">
	<h3>Settings</h3>
    <div class="settings_section">
      <form id="setting" name="setting" action="<?php echo CONTROLLER_PATH_HTTP;?>report-controller.php" method="POST">
		<input type="hidden" id="action" name="action" value="settings" />
		<ul class="formTable">
          <li>
			<b class="red">*</b>
            <label>Base URL:</label>
			<input type="text" id="baseURL" name="baseURL" value="<?php echo $settingData->base_url;?>" class="inputfield required"/>
			<span class="error_message" id="error_baseURL">Please enter Base URL</span>
          </li>
          <li>
              <button id="submit" name="submit" type="submit">Save</button>
              <a href="">Reset</a>
          </li>
        </ul>
      </form>
    </div>
	<h3>Change Password</h3>
    <div class="settings_section">
      <form id="change-password" name="change-password" action="<?php echo CONTROLLER_PATH_HTTP;?>login-controller.php" method="POST">
        <ul class="formTable">
          <li>
			<b class="red">*</b>
			<label>Old Password:</label>
			<input type="password" id="oldPassword" name="oldPassword" value="" class="inputfield required"/>
			<span class="error_message" id="error_oldPassword">Please enter Old Password</span>
          </li>
          <li>
			<b class="red">*</b>
            <label>New Password:</label>
			<input type="password" id="newPassword" name="newPassword" value="" class="inputfield required"/>
			<span class="error_message" id="error_newPassword">Please enter New Password</span>
          </li>
          <li>
			<b class="red">*</b>
			<label>Confirm Password:</label>
			<input type="password" id="confirmPassword" name="confirmPassword" value="" class="inputfield required sameas" data-same-as="newPassword"/>
			<span class="error_message" id="error_confirmPassword">Please enter New Password</span>
			<span class="error_message" id="error_sameas_confirmPassword">New Password and Confirm Password must be same.</span>
          </li>
          <li>
              <button id="submit" name="submit" type="submit">Update Password</button>
              <a href="">Reset</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
<?php
	include(NAVIGATION_PATH."/footer.php");
?>
